.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.idea
*.iml
*.ipr
*.iws
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
!.mvn/wrapper/maven-wrapper.jar
*.sh
/.settings/
/bin/
*.project
/.apt.generated/
.factorypath/
/target/
*.classpath
/logs/
/.vscode/